.el {
  box-shadow: 0px 40x 10px rgba(0, 0, 0, 0.8) !important;
}

.pointer {
  cursor: pointer;
}

.swal2-popup.swal2-toast .swal2-html-container,
.swal2-container.swal2-center > .swal2-popup {
  font-family: "Poppins" !important;
}
